.git/
.idea/
.github/
.*_cache/
__pycache__/
venv/
data/
logs/
icons/
tests/
*trash*
*ignore*

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.md
config.yaml
config.example.yaml
.gitignore
Dockerfile
docker-compose.yml
